body {
    background-color: rgb(236, 223, 223);
}

h2 {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

#Calculator {
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    background-color: aquamarine;
    height: 340px;
}

button {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 3px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#display {
    width: 80%;
    font-size: 25px;
    margin: 10px;
    margin-left: 22px;
    border: 2px solid black;
}

.btn {
    /* center*/
    display: flex;
    justify-content: center;
}